* {
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: #000000;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
}

header {
    padding: 5px 20px 10px 0px;
    background-color: #000000;
}

.social-icon {
    color: #ff6db7;
    font-size: 5em;
    display: inline-block;
    padding: 10px;
}

.pdf {
    font-size: 4.4em;
}

hr {
    display: inline-block;
    height: 2px;
    width: 65%;
    background-color: #ff6db7;
}

mark {
    background-color: #7df9ff;
}

/*Styling for my name at the top of the page*/
.my-name, h2 {
    font-size: 40px;
    color: #ffffff;
    padding: 20px;
}

a {
    color: #ff6db7;
}

a:hover {
    color: #ffffff;
}

.card {
    margin: 10px;
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px;
}

.card-title {
    color: #7df9ff;
}

.card-link:hover {
    color: #7df9ff;
}

footer {
    text-align: center;
    color: #ffffff;
}
